<div class="container" style="padding-top: 30px; background-color: white;">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <% if @future_bookings.present? %>
    <li class="nav-item">
      <a class="nav-link active" id="future-bookings-tab" data-toggle="tab" href="#future-bookings" role="tab" aria-controls="future-bookings" aria-selected="true">Future Bookings</a>
    </li>
    <% end %>
    <% if @past_bookings.present? %>
    <li class="nav-item">
      <a class="nav-link" id="past-bookings-tab" data-toggle="tab" href="#past-bookings" role="tab" aria-controls="past-bookings" aria-selected="false">Past Bookings</a>
    </li>
    <% end %>
    <% if @owner_bookings.present? %>
    <li class="nav-item">
      <a class="nav-link" id="owner-bookings-tab" data-toggle="tab" href="#owner-bookings" role="tab" aria-controls="owner-bookings" aria-selected="false">Owner Bookings</a>
    </li>
    <% end %>
    <% if @animals.present? %>
    <li class="nav-item">
      <a class="nav-link" id="owner-animals-tab" data-toggle="tab" href="#owner-animals" role="tab" aria-controls="owner-animals" aria-selected="false">Owner Animals</a>
    </li>
    <% end %>
    <li class="nav-item">
      <a class="nav-link" id="add-animal-tab" data-toggle="tab" href="#add-animal" role="tab" aria-controls="add-animal" aria-selected="false">Add an animal</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="future-bookings" role="tabpanel" aria-labelledby="future-bookings-tab">
      <% @future_bookings.each do |booking| %>
        <div class="card-product">
          <%= cl_image_tag booking.animal.photos[0].key, width: 200, height: 200, class: "card-product-image" %>
          <div class="card-product-infos">
            <div class="booking-details">
              <h2>Your booking with <%= booking.animal.name %> the <%= booking.animal.species %>:</h2>
              <p><strong>Start date:</strong> <%= booking.start_date %></p>
              <p><strong>End date:</strong> <%= booking.end_date %></p>
              <p><strong>Total fee:</strong> <%= booking.total_fee %></p>
            </div>
            <div class="booking-links">
              <%= link_to 'View booking', booking_path(booking) %>
              <br>
              <%= link_to 'Edit booking', edit_booking_path(booking) %>
              <br>
              <%= link_to 'Delete booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="past-bookings" role="tabpanel" aria-labelledby="past-bookings-tab">
      <% @past_bookings.each do |booking| %>
        <div class="card-product">
          <%= cl_image_tag booking.animal.photos[0].key, width: 200, height: 200, class: "card-product-image" %>
          <div class="card-product-infos">
            <div class="booking-details">
              <h2>Your booking with <%= booking.animal.name %> the <%= booking.animal.species %>:</h2>
              <p><strong>Start date:</strong> <%= booking.start_date %></p>
              <p><strong>End date:</strong> <%= booking.end_date %></p>
              <p><strong>Total fee:</strong> <%= booking.total_fee %></p>
            </div>
            <div class="booking-links">
              <%= link_to 'View booking', booking_path(booking) %>
          </div>
        </div>
        <div class="card-product">
          <%= cl_image_tag booking.animal.photos[0].key, width: 200, height: 200, class: "card-product-image" %>
          <div class="card-product-infos">
            <h2>Your booking with <%= booking.animal.name %> the <%= booking.animal.species %>:</h2>
            <p><strong>Start date:</strong> <%= booking.start_date %></p>
            <p><strong>End date:</strong> <%= booking.end_date %></p>
            <p><strong>Total fee:</strong> <%= booking.total_fee %></p>
            <%= link_to 'View this booking', booking_path(booking) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="owner-bookings" role="tabpanel" aria-labelledby="owner-bookings-tab">
      <% @owner_bookings.each do |booking| %>
        <div class="card-product">
          <%= cl_image_tag booking.animal.photos[0].key, width: 200, height: 200, class: "card-product-image" %>
          <div class="card-product-infos">
            <div class="booking-details">
              <h2>Your booking with <%= booking.animal.name %> the <%= booking.animal.species %>:</h2>
              <p><strong>Start date:</strong> <%= booking.start_date %></p>
              <p><strong>End date:</strong> <%= booking.end_date %></p>
              <p><strong>Total fee:</strong> <%= booking.total_fee %></p>
            </div>
            <div class="booking-links">
              <%= link_to 'View booking', booking_path(booking) %>
              <br>
              <%= link_to 'Edit booking', edit_booking_path(booking) %>
              <br>
              <%= link_to 'Delete booking', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="owner-animals" role="tabpanel" aria-labelledby="owner-animals-tab">
      <% @animals.each do |animal| %>
        <div class="card-product">
          <%= cl_image_tag animal.photos[0].key, width: 200, height: 200, class: "card-product-image" %>
          <div class="card-product-infos">
            <div class="animal-details">
              <h2><%= animal.name %> the <%= animal.species %>:</h2>
              <p><strong>Species:</strong> <%= animal.species %></p>
              <p><strong>Age:</strong> <%= animal.age %></p>
              <p><strong>Gender:</strong> <%= animal.gender %></p>
            </div>
            <div class="animal-links">
              <%= link_to 'View animal', animal_path(animal) %>
              <br>
              <%= link_to 'Edit animal', edit_animal_path(animal) %>
              <br>
              <%= link_to 'Delete animal', animal_path(animal), method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="add-animal" role="tabpanel" aria-labelledby="add-animal-tab">
      <%= render partial: 'animals/form' %>
    </div>
  </div>
</div>
