<div class="container mt-5">
<h1>Edit the details of your booking:</h1>
<div id='animal-booking-dates' data-unavailable="<%= @animal.unavailable_dates.to_json %>">
       <%= simple_form_for [@booking] do |f| %>
           <%= f.input :start_date, as: :string, type: :text %>
           <%= f.input :end_date, as: :string, type: :text %>
            <span style="font-weight: normal; padding: 20px;font-size: 1.3rem;"> $<%= @animal.daily_rate %>/day </span>
           <%= f.submit "Submit", class: "btn btn-primary" %>
        <% end %>
 </div>
</div>
