<div class="container">
  <%= simple_form_for(animal,  html: { class: "form-group w-50 p-5 mx-auto"}) do |f| %>
    <%= f.input :name %>
    <%= f.input :species, label: 'Animal Type' %>
    <%= f.input :daily_rate %>
    <%= f.input :place_of_origin %>
    <%= f.input :age %>
    <%= f.input :category, collection: Animal::CATEGORIES %>
    <%= f.input :gender, collection: Animal::GENDERS %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
