<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://content.swncdn.com/godvine/pics/GV-Article/GV-crazylionman-13.png);">
  <div class="container">
    <h1>Rent an exotic animal to liven up your next event!</h1>
    <p>Totally a good idea, and not remotely dangerous whatsoever.</p>
    <a class="btn btn-flat" href="#">Search animals now</a>
  </div>
</div>


<div class="container">
  <% @animals.each do |animal| %>
    <p><%= animal.name %>
    <%= cl_image_tag animal.photos[0].key, height: 200, width: 200, crop: :fill %>
    <%= link_to 'Show', animal_path(animal) %>
    <% if policy(animal).edit? %>
      <%= link_to 'edit', edit_animal_path(animal) %>
    <% end %>
    <% if policy(animal).destroy? %>
      <%= link_to 'delete', animal_path(animal), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </p>
  <% end %>
</div>

<%= link_to 'Add new animal', new_animal_path %>




