<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://content.swncdn.com/godvine/pics/GV-Article/GV-crazylionman-13.png);">
  <div class="container">
    <h1>Rent an exotic animal to liven up your next event!</h1>
    <p>Totally a good idea, and not remotely dangerous whatsoever.</p>
    <a class="btn btn-flat" href="#">Search animals now</a>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @animals.each do |animal| %>
    <div class="card">
        <%= cl_image_tag animal.photos[0].key, height: 200, width: 200, crop: :fill, class: "card-img-top" %>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5><strong><%= animal.name %></strong></h5>
            <p>
              <span><i class="fas fa-star"></i></span>
              <span><%= animal.average_rating %></span>
            </p>
          </div>
          <%= animal.description %>
          <%= link_to 'Show', animal_path(animal) %>
          <p class="price">$<%= animal.daily_rate %>/daily</p>
          <% if policy(animal).edit? %>
            <%= link_to 'edit', edit_animal_path(animal) %>
          <% end %>
          <% if policy(animal).destroy? %>
            <%= link_to 'delete', animal_path(animal), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Add new animal', new_animal_path, class: "text-center d-block mb-5" %>
</div>




