<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1569600428323-7fd18782b483?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h1>Rent an exotic animal to liven up your next event!</h1>
    <p>Totally a good idea, and not remotely dangerous whatsoever.</p>

    <div id="searchbar-homepage"  >
      <%= form_tag search_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-bar",
          placeholder: "Search for an animal.."
        %>
        <%= button_tag(type: 'submit', class: "btn-search") do %>
           <i class="fas fa-search"></i>
        <% end %>
      <% end %>
       <%= link_to "Or See All the Animals", search_path, class: "btn-flat"  %>
     </div>
  </div>
</div>



<%= render 'carousel' %>



















