
<div class="container">

  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an animal"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="cards">
      <% @animals.each do |animal| %>
      <div class="card">
          <%= cl_image_tag animal.photos[0].key, height: 200, width: 200, crop: :fill, class: "card-img-top" %>
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h5><strong><%= animal.name %></strong></h5>
              <p>
                <span><i class="fas fa-star"></i></span>
                <span><%= animal.average_rating %></span>
              </p>
            </div>
            <%= animal.description %>
            <%= link_to 'Show', animal_path(animal) %>
            <p class="price">$<%= animal.daily_rate %>/daily</p>
            <% if policy(animal).edit? %>
              <%= link_to 'edit', edit_animal_path(animal) %>
            <% end %>
            <% if policy(animal).destroy? %>
              <%= link_to 'delete', animal_path(animal), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

</div>
